body {
 background-color:whitesmoke
  
  }
h2 {
  color:#870B36;
}

h3 {
  color:#870B36;
}

#nav-bar ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  list-style-type: none;
}
#nav-bar li {
  float: left;
  border-right: 1px solid #bbb;
}
#nav-bar li:last-child {
    border-right: none;
}
#nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-bar li a:hover:not(.active) {
    background-color: #111;
}

#nav-bar .active {
    background-color: #870B36;
}


p {
  color:#870B36;

}

/* logo {
 
 background: d("logo.PNG"), linear-gradient(135deg, #88bfe8 12%,#88bfe8 12%,#668bcc 32%,#465c8c 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center top;
  background-attachment: fixed; */
  
  
/* }
} */ 






#purpose {
  text-align: center;
  
   
}
